
  <div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">User Email</th>
          <th scope="col">Medical Institution</th>
          <th scope="col">Doctor</th>
          <th scope="col">Status</th>
          <th scope="col">User Info</th>
          <th scope="col">Consultant comment</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let declarationRequest of declarationRequests">
          <td>{{declarationRequest.userName}}</td>
          <td>{{declarationRequest.medInst}}</td>
          <td>{{declarationRequest.doctorName}}</td>
          <td>{{declarationRequest.status}}</td>
          <td>{{ declarationRequest.medData }}</td>
          <td>{{ declarationRequest.comment }}</td>
          <td>
            <div [hidden]="isUser">
              <button mat-button class="btn btn-outline-secondary"
                      (click)="process(declarationRequest.userId, declarationRequest.doctorId)">
                Process
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
  </div>
