
  <div class="my-5">
    <div style="font-size: 28px;">Your Declaration Requests: </div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Medical Institution</th>
          <th scope="col">Doctor</th>
          <th scope="col">Status</th>
          <th scope="col">Your Info</th>
          <th scope="col">Consultant comment</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let declarationRequest of declarationRequests">
          <td>{{declarationRequest.medInst}}</td>
          <td>{{declarationRequest.doctorName}}</td>
          <td>{{declarationRequest.status}}</td>
          <td>{{ declarationRequest.medData }}</td>
          <td>{{ declarationRequest.comment }}</td>
        </tr>
        </tbody>
      </table>
  </div>
