<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect03" #cities (change)="onSelected(cities.value)">
              <option selected>Choose your city</option>
              <option value="Lviv">Lviv</option>
              <option value="Kyiv">Kyiv</option>
              <option value="Ternopil">Ternopil</option>
              <option value="Ivano-Frankivsk">Ivano-Frankivsk</option>
            </select>
          </div>
        </div>
      </div>
<!--      <router-outlet></router-outlet>-->
      <app-medical-institution-list [medicalInstitutions]="medicalInstitutions"></app-medical-institution-list>
    </div>
  </div>
</div>
