<div [hidden]="!isLoaded">
  <div class="row">
    <div class="col-8">
      <p><input type="text" class="form-control" placeholder="Search by name" (input)="search($event)"></p>
    </div>
    <div class="col-4">
      <button (click)="helsi()" class="btn btn-outline-dark">Make a doctor appointment in {{city}}</button>
    </div>
  </div>


</div>
<div *ngFor="let medicalInstitution of searchedResult">
  <div class="card my-5">
    <div class="card-body">
      <mat-card class="inner-card">
        <mat-card-header>
          <mat-card-title style="font-size: 28px;">{{ medicalInstitution.name }}</mat-card-title>
          <mat-card-subtitle style="font-size: 20px; color:white;">{{ medicalInstitution.city }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="medicalInstitution.imageUrl">
        <mat-card-content>
          <p>
            {{ medicalInstitution.address }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="btn btn-outline-light" (click)="seeFull(medicalInstitution.id)">See full info</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
