<div *ngFor="let medicalInstitution of medicalInstitutions">
  <div class="card my-5">
    <div class="card-body">
      <mat-card class="inner-card">
        <mat-card-header>
          <mat-card-title style="font-size: 28px;">{{ medicalInstitution.name }}</mat-card-title>
          <mat-card-subtitle style="font-size: 20px; color:white;">{{ medicalInstitution.city }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="medicalInstitution.imageUrl">
        <mat-card-content>
          <p>
            {{ medicalInstitution.address }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="btn btn-outline-light" (click)="seeFull(medicalInstitution.id)">See full info</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
