<h1 mat-dialog-title>Sign declaration with Dr. {{data.doctor.name}}</h1>
<mat-dialog-content [formGroup]="form">

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Enter information"
              formControlName="info"></textarea>
  </mat-form-field>
  <mat-checkbox [required]="true">I agree with processing of personal data</mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="btn btn-outline-secondary" (click)="close()">Close</button>
  <button class="btn btn-outline-primary" (click)="save()">Save</button>
</mat-dialog-actions>
